<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Exercice Twig</title>
    <link rel="stylesheet" href="<?= $css ?>" />
</head>
<body>
    <header>
        <h1>{{ "The League" }}</h1>
        <nav>
            <ul>
                <li>{{ "Les teams" }}</li>
                <li>{{ "Les matchs" }}</li>
                <li>{{ "Les players" }}</li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>{{ "Les teams de la ligue" }}</h2>
        <div>
            <article>
                <img></img>
                <h3>{{ "Angry Owls" }}</h3>
                <p>>{{ "A team of Angry Owls" }}</p>
                <button></button>
            </article>
            
            <article>
                <img></img>
                <h3>{{ "Chatty Parrots" }}</h3>
                <p>{{ "A team of Chatty Parrots" }}</p>
                <button></button>
            </article>
            
            <article>
                <img></img>
                <h3>{{ "Panthers" }}</h3>
                <p>{{ "A team of Panthers" }}</p>
                <button></button>
            </article>
            
            <article>
                <img></img>
                <h3>{{ "Sparrow" }}</h3>
                <p>{{ "A team of Sparrow" }}</p>
                <button></button>
            </article>
            
            <article>
                <img></img>
                <h3>{{ "Vendetta" }}</h3>
                <p>{{ "A team of Vendetta" }}</p>
                <button></button>
            </article>
        </div>
    </main>
    <footer>
        
    </footer>
</body>
</html>

